@model Bookstore.ViewModel.BookAuthorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" readonly class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
            
                <img src="~/uploads/@Model.ImageUrl" style="width:128px" class="img-thumbnail"/>
                
                <input asp-for="File" type="file" name="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <input asp-for="ImageUrl" type="hidden" class="form-control" /> <!--add hidden input send ImageUrl-->
            <div class="form-group mt-2">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(Model.Authors,"Id","FullName"))"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_Validation"/>
}
